/*form {
  display: inline;
  margin: 0;
  padding: 0;
}

input, button {
  display: inline;
}*/

#show-task p, input#done, label {
  display: none;
}

li {
  list-style-type: none;
}

.strikethrough {
  text-decoration: line-through;
}
